@import '../../scss/variables.scss';
.home  {
    .orgs-list {
        .org-name.--selected {
            background-color: $primary;
            border-radius: 15px;
            color: white;
        }
    }
}